#about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 22px 0px 41px;
}

#about-wrapper div {
  padding: 200px;
  border: 2px solid darkblue;
  background-color: #e8ebef;
  margin: 0px 20px 22px 1px;
}

.about-box {
  flex: 1 1 0;
}