#about-top-body {
  background-color: #e8ebef;
  width: 1000px;
  padding: 15px 20px 22px 20px;
  margin: 20px auto;
  border: 2px solid darkblue;
  font-size: 18px;
}

#about-bottom-body {
  background-color: #e8ebef;
  width: 1000px;
  padding: 15px 20px 20px 20px;
  margin: 20px auto;
  border: 2px solid darkblue;
  font-size: 18px;
  display: grid;
}

.portrait-format {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  padding: 1px;
  border: 1px solid #021a40;
  background-color: #B7CFF2;
  grid-column-start: 1;
  float: left;
}

.about-text {
  float: right;
  vertical-align: top;
  width: 70%;
  font-size: 12px;
  padding: 0px 0px 0px 46px;
  display: inline;
  grid-column-start: 2;
}

.bio {
  margin-bottom: 20px;
}

.alex {
  grid-row-start: 1;
}

.ryan {
  grid-row-start: 2;
}

.matt {
  grid-row-start: 3;
}

.max {
  grid-row-start: 4;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

/* IDS */

#about-top-body {
  background-color: #e8ebef;
  width: 1000px;
  padding: 15px 20px 22px 20px;
  margin: 20px auto;
  border: 2px solid darkblue;
  font-size: 18px;
}

#about-bottom-body {
  background-color: #e8ebef;
  width: 1000px;
  padding: 15px 20px 20px 20px;
  margin: 20px auto;
  border: 2px solid darkblue;
  font-size: 18px;
}


#github-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: auto;
  cursor: pointer;
}

/* TAGS */

p {
  font-size: 14px;
}